<!-- Element Ref example using view child -->
<div #element></div>
<!-- child component -->
<!-- <hinv-rooms></hinv-rooms> -->

<div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    <p>Welcome Users!</p>
  </div>
  <div *ngSwitchCase="'Admin'">
    <!-- <p><hinv-rooms></hinv-rooms></p> -->
    <hinv-container>
      <hinv-rooms></hinv-rooms>
      <h1>Content inside hinv-container content projection</h1>
      <hinv-employee></hinv-employee>
    </hinv-container>
     <!-- <ng-template #admin></ng-template> -->
  </div>
  <div *ngSwitchDefault>
    <p>You are not Unauthorised:(</p>
  </div>
</div>
