/* You can add global styles to this file, and also import other style files */
// @import "node_modules/bootstrap/dist/css/bootstrap.min.css";

$color: #6769ee;
.even {
    background-color: $color;
    color: white;
}

.odd {
    background-color: rgb(78, 225, 93);
    color: white;
}