<!-- Interpolation Binding -->
<p>Welcome to {{ hotelName }}</p>
<!-- Property Binding -->
<div
  [hidden]="isRoomHidden"
  [ngStyle]="{ color: rooms.availableRooms ? 'red' : 'green' }"
>
  <p>No. of rooms</p>
  <p [innerText]="noOfRooms"></p>
</div>
<!-- Only for development purpose -->
{{ roomList | json }}
<!-- Directive *ngIf, *ngFor -->
<div *ngIf="rooms.availableRooms > 0">
  <p>Rooms are available. Rooms List:</p>
  <table>
    <tr>
      <th>Index</th>
      <th>Even/Odd</th>
      <th>Room Type</th>
      <th>Room Amenities</th>
      <th>Room Price</th>
      <th>Room CheckinTime</th>
      <th>Room Rating</th>
    </tr>
    <tr
      [ngClass]="e ? 'even' : 'odd'"
      *ngFor="
        let room of roomList | slice : 0 : 2;
        let e = even;
        let o = odd;
        let i = index
      "
    >
      <td>{{ i | percent }}</td>
      <td>{{ e ? ("Even" | lowercase) : ("Odd" | lowercase) }}</td>
      <td>{{ room.roomType | uppercase }}</td>
      <td>{{ room.amenities | titlecase }}</td>
      <td>{{ room.price | currency : "INR" }}</td>
      <td>{{ room.checkinTime | date : "DD-MMM-YYYY" }}</td>
      <td>{{ room.rating | number : "1.2-3" }}</td>
    </tr>
  </table>
</div>
<!-- Event Binding -->
<button (click)="toggle()">Click</button>
