<!-- Interpolation Binding -->
<!-- <p>Welcome to {{ hotelName }}</p> -->
<hinv-header></hinv-header>
<!-- Property Binding -->
<div
  [hidden]="isRoomHidden"
  [ngStyle]="{ color: rooms.availableRooms ? 'red' : 'green' }"
>
  <p>No. of rooms</p>
  <p [innerText]="noOfRooms"></p>
</div>
<!-- Only for development purpose -->
 <div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
 </div>
 <div>
  <button (click)="addRoom()">Add Room</button>
 </div>
<!-- Directive *ngIf, *ngFor -->
<div *ngIf="isRoomHidden">
  <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [title] = "'Rooms are available: '"></hinv-rooms-list>
</div>
<!-- Event Binding -->
<button (click)="toggle()">Click</button>
